.social {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;


  *:last-child {
    margin: 0;
  }
}

.social-logo {
  margin-bottom: 55px;
  padding: 11px 0 0 0;
  margin-right: 25px;
}

.social-list {
  @include reset;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 3px;
}

.social-item {
  &:not(:last-child) {
    margin-right: 15px;
  }
}

.social-link {
  svg {
    color: $grey-next;
  }

  &:hover {
    svg {
      color: $blue;

      transform: scale(1.5);
      transition: ease 0.2s;
    }
  }

  &:focus {
    svg {
      color: $blue;

      transform: scale(1.5);
      transition: ease 0.2s;
    }
  }

  &:active {
    svg {
      transform: scale(0.95);
      transition: ease 0.2s;
      color: $blue;
    }
  }
}

.social-license {
  display: none;
}

@media (max-width: $tablet-width) {
  .social {
    grid-column: span 2;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $grey-next;
    padding-bottom: 25px;
    margin-bottom: 38px;
    padding-left: 0;
  }

  .social-license {
    display: block;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding: 4px 15px 0 0;
  }

  .social-logo {
    padding: 0 0 0 25px;
    margin-bottom: 0;
  }

  .social-list {
    padding-right: 25px;
  }
}

@media (max-width: $mobile-width) {
  .social {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }

  .social-logo {
    padding: 0 0 0 29px;
    margin-bottom: 27px;
  }

  .social-license {
    padding: 0;
    margin-bottom: 30px;
  }

  .social-list {
    padding: 0 0 48px 0;
  }
}
