.special-wrapper {

  background: url("../img/background/triangle-desktop.svg") repeat 0 -28px;
  background-size: cover;
  position: relative;
  padding: 113px 0 110px 0;
}

@media (max-width: $tablet-width) {
  .special-wrapper {
    padding: 54px 0 84px 0;
    background: url("../img/background/triangle-tablet.svg") no-repeat 131 -105px;
    background-size: contain;
  }
}

@media (max-width: $mobile-width) {
  .special-wrapper {
    padding: 37px 0 65px 0;
  }
}
