.copyright {
  width: 100%;
  padding: 0 calc(50% - 719px);
}

.copyright-list {
  @include reset;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 10px;
}

.copyright-item p {
  font-weight: 400;
  font-size: 13px;
  line-height: 185%;

  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $dark;

  opacity: 0.5;

  &:hover {
    opacity: 1;
    transition: 0.2s;
  }

  &:focus {
    opacity: 1;
    transition: 0.2s;
  }

  &:active {
    transform: scale(0.95);
    transition: 0.2s;
  }
}

.copyright-item {
  white-space: nowrap;

  &--right {
    margin-right: 76px;
  }

  &--license {
    margin-right: 10%;
  }

  &:last-child {
    margin-left: auto;
    padding-right: 4px;
  }
}

.copyright-link {
  font-weight: 400;
  font-size: 13px;
  line-height: 185%;

  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $dark;

  opacity: 0.5;

  &:hover {
    opacity: 1;
    transition: 0.2s;
  }

  &:focus {
    opacity: 1;
    transition: 0.2s;
  }

  &:active {
    transform: scale(0.95);
    transition: 0.2s;
  }
}

@media (max-width: $tablet-width) {
  .copyright-item {
    &--right {
      display: none;
    }

    &--license {
      display: none;
    }
  }

  .copyright-item p {
    @include reset-block;
  }

  .copyright-list {
    height: 69px;
    align-items: center;
    padding: 0 23px 0 25px;
  }
}

@media (max-width: $mobile-width) {
  .copyright {
    padding: 27px 0 0 0;
  }

  .copyright-item {
    margin-bottom: 22px;

    &:last-child {
      margin: 0 0 0 0;
      padding: 0;
    }
  }

  .copyright-list {
    height: 123px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 0 15px 0 15px;
  }
}
