.footer {
  padding: 0;
  background-color: $bone;
}

.footer-top {
  padding: 52px calc(50% - 719px) 58px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom {
  width: 100%;
  border-top: 1px solid $grey-next;
}

@media (max-width: $tablet-width) {
  .footer-top {
    padding: 21px 0 34px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: start;
    justify-content: space-between;
    grid-column-gap: 15px;
  }
}

@media (max-width: $mobile-width) {
  .footer-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 48px 0 0 0;
  }
}
